<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}/">
          Data Brokers
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
      <h3></h3>
      <ul>
        <li><a href="{{ site.baseurl }}/#what-are-data-brokers">What are data brokers?</a></li>
        <li><a href="{{ site.baseurl }}/#what-we-did">What we did</a></li>
        <li><a href="{{ site.baseurl }}/#what-we-found">What we found</a></li>
        <li><a href="{{ site.baseurl }}/#the-practices-of-data-brokers">The practices of data brokers</a></li>
        <li><a href="{{ site.baseurl }}/#what-consumers-want">What consumers want</a></li>
        <li><a href="{{ site.baseurl }}/#the-inaction-of-regulators">The (in)action of regulators</a></li>
        <li><a href="{{ site.baseurl }}/#summary">Summary</a></li>
        <li><a href="{{ site.baseurl }}/#so-whats-next">So what’s next?</a></li>
        <li><a href="https://github.com/Data259-Autumn25/group-project-michelle-ornella-minjae" target="_blank">Github Repository</a></li>
      </ul>
    </div>
  </div>
</div>
